.barra_lateral {
	order:0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 15%;
	max-height: 30rem;
	margin-left: 6%;
	background-color: #E8E9EB;
	font-size: 2rem;
	border-radius: 0.5rem;
	min-height: 5rem;
	border-color: #E8E9EB;
	border-width: 1rem;
	border-style: solid;
}

.img_categoria {
	order:1;
	margin-left: 6%;
	margin-right: 2%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #E8E9EB;
	border-radius: 0.5rem;
	margin-bottom: 5rem;
}

.text_categoria {
	order:2;
	margin-right: 6%;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 1rem;
	margin-left: -5%;
	background-color: #E8E9EB;
	max-width: 20rem;
	padding: 1rem;
	text-align: justify;
	border-radius: 0.5rem;
	line-height: 1.2rem;
	margin-bottom: 5rem;
	min-height: 5rem;


}

.local_title {
	margin-bottom: 0.6rem;
}

.container {
	display: flex;
	justify-content: flex-start;
	margin-top: 5%;
}

.img_item {
	min-width: 22rem;
	height: 16rem;
	margin: 2rem;
	align-self: flex-start;
	justify-content: center;
	display: flex;
	border-radius: 0.2rem;
	border-width: 0.005rem;
	border-style: solid;
	border-color: black;
}

.text_item {
	font-size: 1.5rem;
	line-height: 1.5rem;
	display: flex;
	align-self: flex-start;
	font-family: 'Roboto', sans-serif;
}

.barra_pesquisa_categ {
	width: 25rem;
	height: 5rem;
	object-fit: fill;
	margin-top: 2rem;
}

.link_projetos{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap-reverse;
	margin-bottom: 1rem;
	margin-top: 2rem;
	text-align: center;
}

.atalhos {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
}

.home_icon {
	display: none;
}

.cell_text {
	display: none;
}

.prototip_img {
	display: none;
}
@media (max-width: 68rem) {
	.titulo {
		display: flex;
		align-self: center;
		font-size: 3rem;
		width: 40rem;
	}

	.logo {
		display: none;
	}

	.home_icon {
		display: flex;
		height: 5rem;
		margin-right: 7rem;
		margin-left: 4rem;
	}

	.barra_lateral {
		display: none;
	}

	.container {
		display: flex;
		justify-content: flex-start;
		margin-left: 0rem;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 2rem;

	}

	.img_categoria {
		margin-left: 0.6rem;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 1rem;
	}

	.text_prototipacao_digital {
		display: none;
	}

	.cell_text {
		display: flex;
		text-align: justify;
		flex-direction: column;
	}

	.projeto {
		width: 22rem;
		font-size: 1rem;
	}

	.projeto_portfolio {
		width: 22rem;
		font-size: 1rem;
	}

	.projeto_dados {
		width: 22rem;
		font-size: 1rem;
	}

	.projeto_app {
		width: 22rem;
		font-size: 1rem;
	}

	.img_item {
		width: 22rem;
		height: 15rem;
		margin: 0rem;
		margin-top: 4rem;
		object-fit: fill;
		border-width: 0.005rem;
		border-style: solid;
		border-color: black;
		border-radius: 1rem;
	}

	.prototip_img {
		display: flex;
		height: 26rem;
		width: 52rem;
		align-self: center;
		margin-left: 4rem;
		margin-top: 2rem;
		border-radius: 1rem;
	}
}